#reservation {
  background-image: url("/static/background.jpeg");
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }
}

.section {
  position: relative;
  height: 100vh;

  .sectionCenter {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
